.btn {
  color: #000000;
  padding: 10px 30px;
  outline: none;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(58, 158, 15);
  font-size: 36px;
}

.btn.btnbackgroundslide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: white;
  border-radius: 10px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btnbackgroundslide:hover::before,
.btnbackgroundslide:focus::before {
  transform: scaleX(1);
}

.btnbackgroundslide {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.btnbackgroundslide:hover,
.btnbackgroundslide:focus {
  color: rgb(0, 0, 0);
}
