@import "../../styles/breakpoints.scss";

@media (max-width: $medium) {
  .tilesContainer {
    flex-direction: column;
    gap: 30px;
  }
}

.tile {
  div {
    width: 300px;
    height: 100%;
  }
}

.tileImg {
  border: 1px solid white;
  transition: 0.2s all ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid black;
  }
}

@media (max-width: $large) {
  .tile {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $large) {
  .tile:nth-child(2) {
    .tileImg {
      order: 10;
    }
  }
}
