@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.divContainer {
  display: flex;
  width: 100%;
  min-height: 400px;
  margin-bottom: 90px;
  align-items: flex-start;
  gap: 220px;

  .leftDiv {
    flex: 2;
    font-size: 32px;
    width: 475px;
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 10px 15px 15px rgb(82, 82, 82);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 4;

    div {
      width: 390px;
      background: $main-color;
      position: absolute;
      z-index: 10;
      left: 240px;
      bottom: -180px;
      font-size: 32px;
      border: 1px solid rgb(96, 96, 96);
      box-shadow: 10px 15px 15px rgb(82, 82, 82);
      border-radius: 10px;
      padding: 5px;
    }
  }

  iframe {
    flex: 1;
    width: 500px;
    height: 300px;
    box-shadow: 10px 15px 15px rgb(82, 82, 82);
    border-radius: 10px;
  }
}

@media (max-width: $xl) {
  .divContainer {
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .leftDiv {
      margin: 5px 20px;
      position: static;
      width: 60%;
      font-size: 26px;

      div {
        width: 100%;
        font-size: 26px;
        position: static;
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    iframe {
      width: 500px;
    }
  }
}

@media (max-width: $medium) {
  .divContainer {
    .leftDiv {
      width: 90%;
    }
    iframe,
    div {
      margin: 0 auto;
      max-width: 90%;
    }
  }
}
