@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.divContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 90px;
  gap: 250px;
  align-items: center;

  .leftDiv {
    flex: 2;
    font-size: 22px;
    right: 100px;
    width: 275px;
    border: 1px solid rgb(96, 96, 96);
    box-shadow: 10px 15px 15px rgb(82, 82, 82);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    z-index: 4;

    div {
      width: 290px;
      background: $main-color;
      position: absolute;
      z-index: 10;
      left: 240px;
      bottom: -30px;
      font-size: 22px;
      border: 1px solid rgb(96, 96, 96);
      box-shadow: 10px 15px 15px rgb(82, 82, 82);
      border-radius: 10px;
      padding: 5px;
    }
  }

  iframe {
    flex: 1;
    width: 400px;
    height: 200px;
    box-shadow: 10px 15px 15px rgb(82, 82, 82);
    border-radius: 10px;
  }
}

@media (max-width: $xl) {
  .divContainer {
    flex-direction: column;
    gap: 100px;
  }
}

@media (max-width: $medium) {
  .divContainer {
    gap: 50px;

    .leftDiv {
      position: static;

      div {
        position: static;
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    iframe {
      width: 90%;
      height: 100%;
    }
  }
}
