@import "../../styles/breakpoints.scss";

.sectionContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;

  span {
    display: block;
    opacity: 0;

    .tile:nth-child(2) {
      .tileImg {
        order: 10;
      }
    }
  }
}
