.sectionDiv {
  //background: rgb(201, 159, 82);
  border-bottom: 10px solid rgb(201, 159, 82);
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
