@import "../../styles/breakpoints.scss";

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  iframe {
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 10px 15px 15px rgb(82, 82, 82);
  }
}

.additionalInformation {
  width: 100%;
  margin: 15px 0;

  p {
    font-size: 22px;
    text-align: center;
  }
}

.informations {
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 20px 10px;
  div {
    flex: 1;
  }
  svg {
    margin: 15px auto;
    font-size: 40px;
  }
  p {
    font-size: 22px;
  }
}

.mailInformation {
  text-align: center;
  display: block;
  margin-bottom: 40px;
  font-size: 22px;

  svg {
    margin: 20px auto;
    font-size: 44px;
  }
  p {
    font-size: 26px;
  }
}

@media (max-width: $medium) {
  .divContainer {
    width: 100%;
  }
  .informations {
    flex-direction: column;
    align-items: center;

    div {
      margin-bottom: 30px;
      text-align: center;
      font-size: 38px;
    }
  }
}
