@import "../../styles/breakpoints.scss";

.divContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  .offertWrapper {
    display: flex;
    flex: 1;
    gap: 40px;

    .singleOffert {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      border: 1px solid black;
      margin: 5px 10px;
      border-radius: 10px;
      box-shadow: 10px 15px 15px rgb(82, 82, 82);
      transition: 0.2s all ease-in-out;

      h1 {
        font-size: 42px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &:hover {
        border: 1px solid white;
      }
    }
  }
  img {
    margin: 2px auto;
    border-radius: 10px;
  }
}

@media (max-width: $large) {
  .divContainer {
    div {
      flex-direction: column;
    }
  }
}
