.galleryContainer {
  height: 250px;
  background: rgb(247, 213, 150);
  border-radius: 10px;
  opacity: 0.9;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  overflow-x: scroll;

  padding: 20px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.singlePhoto {
  padding: 10px;
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  font-size: 42px;
  align-self: self-start;
  margin-left: 50px;
}
